:root {
  --blue: #37517e;
}

nav {
  position: fixed !important;
  top: 0 !important;
  background-color: #37517e !important;
  width: 100%;
  left: 0 !important;
  margin: auto !important;
  z-index: 999;
  display: flex !important;
  justify-content: center !important;
}
.front {
  background-color: var(--blue);
}

.front a {
  color: white !important;
}

.dropdown-menu a {
  color: black !important;
}

.anim-image {
  animation: up-down 1.5s linear infinite alternate;
}

@keyframes up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

.text-blue {
  color: var(--blue) !important;
}

.gray {
  width: 200px;

  height: 2px;
  border-radius: 30px;
  background-color: lightgray;
  margin: auto;
  position: relative;
}

.blue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  margin: auto;
  height: 3px;
  background-color: var(--bs-info);
}

.max-content {
  width: max-content;
  margin: auto;
}

.bg-blue {
  background-color: var(--blue) !important;
}
/* url("https://bootstrapmade.com/content/demo/Arsha/assets/img/cta-bg.jpg") */
.img-bg {
  background: linear-gradient(rgba(55, 81, 126, 0.3), rgba(55, 81, 126, 0.7)),
    url("https://bootstrapmade.com/content/demo/Arsha/assets/img/cta-bg.jpg")
      fixed;
}

.img-parent {
  overflow: hidden;
}

.img-content {
  bottom: 0;
  transform: translateY(90px);
  transition: all 0.3s ease-out;
}

.img-parent:hover .img-content {
  transform: translateY(0);
}

.my-card {
  transition: all 0.4s;
}

.my-card h5 {
  transition: all 0.3s;
}

.my-card:hover {
  transform: translateY(-10px);
}

.my-card:hover h5 {
  color: var(--bs-info) !important;
}

.carousel-item img {
  height: 50vh !important;
  object-fit: cover;
}

.clip-circle {
  clip-path: circle() !important;
}

@media (max-width: 767px) {
  .team-image {
    width: 40% !important;
    margin: auto !important;
    display: block !important;
  }

  .my-hr {
    margin: auto !important;
  }
}
